@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #000000, #7f2cb6);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: max-content(200px) 1fr;
}

.card-series {
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: black;
    /* position: fixed; */
    /* top: 0; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.search-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}

.search-container input, .search-container button{
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
}

.search-container input{
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #fff;
    padding: 0.7em;
}

.search-container input:focus{
    border-color: #fff;
}

.search-container button{
    background-color: #ffb92a;
    border: none;
    cursor: pointer;
}
.search-container button:hover {
    background-color: #17803f;
    cursor: pointer;
}

#result{
    color: #fff;
}

.botao-escolha {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
}

.container-opcoes {

    gap: 10px;
}

.escolher {
    align-items: center;
    justify-content: flex-end;
    border-radius: 50%;
}
.escolher {
    padding: 0px 10px;
    background-color: #ffb92a;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
}
.escolher:hover {
    background-color: #17803f;
    cursor: pointer;
}

.checked {
    color: orange;
  }
  
  
  .button-numeros {
      text-align: center;
    }
    
    .number-button {
        display: inline-block;
        width: 25px;
        height: 23px;
        margin: 5px;
        border: none;
        border-radius: 50%;
        background-color: #ffb92a;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
    }
    
/* estilizaçao estrela  */
.rating {
    width: 200px;
    margin: 0 auto 1em;
    font-size: 25px;
}
.rating input {
    float: right;
    opacity: 0;
position: absolute;
}
.rating a,
.rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
    color: orange;
    cursor: pointer;
}
.rating2 {
    margin-left: 100px;
    direction: rtl;
}
#stars{
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.rating2 a {
    float:none
}
/* fim estilizaçao estrela */

.info{
    position: relative;
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-top: 1.2em;
}

.poster{
    width: 100%;
}

h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.rating{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0.6em 0 0.9em 0;
}

.rating img{
    width: 1.2em;
}

.rating h4{
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
}

.details{
    display: flex;
    font-size: 0.95em;
    gap: 1em;
    justify-content: center;
    color: #a0a0a0;
    margin: 0.6em 0;
    font-weight: 300;
}

.genre{
    display: flex;
    justify-content: space-around;
}

.genre div{
    border: 1px solid #a0a0a0;
    font-size: 0.75em;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    font-weight: 300;
}

h3{
    font-weight: 500;
    margin-top: 1.2em;
}

p{
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.8em;
    text-align: justify;
    color: #a0a0a0;
}

.msg{
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container{
        font-size: 14px;
    }
    .poster{
        margin: auto;
        width: auto;
        max-height: 10.8em;
    }
    
    .info{
        grid-template-columns: 1fr;
    }
}

.texto-canto {
    /* position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 40px; */
}
  .texto-canto  {
      font-size: 40px;
      font-family: Righteous;
      color: #ffb92a;
    }
/*tabela*/
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid rgb(0, 0, 0);
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #ffb92a;
    }